.result {
  display: flex;
  /* grid-template-columns: 4vw 4vw 4vw 4vw; */
  /* height: 20vw; */
  box-shadow:
    0 0.03vw 0vw 0vw rgb(5, 6, 27, 0.14),
    /* 0 0.08vw .8vw 0vw rgb(5, 6, 27,.14), */ 0 0.08vw 0vw 0 rgb(5, 6, 27, 0.2);

  /* align-self: center; */
  border-top: 0.4vw solid #8e4305;
  border-radius: 1vw;
  margin: 1vw;
  background-color: #fff;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 80vw; */
  padding: 2vw 15vw 4vw 15vw;
  gap: 1vw;
  /* padding: 3vw; */
  > .precen {
    /* width: 10vw; */
    /* height: 10vw; */
    border-radius: 50%;
    padding: 1.9vw 1.3vw;
    font-size: 0.7vw;
    border: 0.9vw solid #10b981;
    transition: all 1s;
    background-color: #fff;
    transition:
      all 0.25s cubic-bezier(0.16, 1, 0.3, 1),
      all 0.2s ease;
    display: flex;
    text-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    > h1 {
      /* width: 8vw; */
      padding: 0;
      margin: 0;
      font-size: 2.7vw;
      /* height: 8vw; */
      /* background-color: #05061b; */
      color: #05061b;
    }
    > p {
      /* width: 8vw; */
      /* height: 8vw; */
      font-size: 1.3vw;
      margin: 0;
      padding: 0;
      color: #05061b;
    }
  }
  > .rect {
    background-color: #fff1e7;
    border-radius: 1vw;
    font-size: 1vw;
    color: #8e4305;
    width: 10vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    /* padding: 0.3vw 1.3vw; */
  }
  > .content {
    width: 40vw !important;
    /* height: 10vw; */
    gap: 0.8vw;
    padding: 1vw;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h3 {
      text-wrap: nowrap;
      font-size: 3vw;
      /* height: 10vw; */
      /* width: 50vw; */
      margin: 0;
    }
    > p {
      margin: 0;
      width: fit-content !important;
      /* width: 40vw !important; */
      text-wrap: nowrap;
      color: rgb(5, 6, 27, 0.8);
      font-size: 1.3vw !important;
    }
  }

  > .btns {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.4vw 0.8vw; */
    width: 60vw;
    /* gap: 1vw; */
    margin: 0 !important;
    > .btn {
      background-color: #f2f4f6 !important;
      width: 27vw !important;
      height: 6.3vw;
      padding: 0vw 3vw;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      > h1 {
        /* padding: 0.4vw 0.5vw; */
        /* width: 20vw; */
        /* padding: 0.7vw 0.3vw; */
        display: flex;
        margin: 0;
        transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
        transition:
          all 0.25s cubic-bezier(0.16, 1, 0.3, 1),
          all 0.2s ease;
        justify-content: center;
        align-items: center;
        text-wrap: nowrap;
        margin: 0;
        font-size: 1.5vw;
        /* font-size: 2vw; */
        color: #10b981;
      }
      > p {
        margin: 0;
        /* width: 3vw; */
        font-size: 1vw;
        /* color:  rgb(5, 6, 27,.2); */
      }
    }
    > .btn5 > h1 {
      color: #05061b;
    }
    > .btn2 > h1 {
      color: #10b981;
    }
    > .btn3 > h1 {
      color: #8e4900;
    }
    > .btn4 > h1 {
      color: #d97706;
    }
  }

  > .content1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.4vw 0.8vw; */
    gap: 1vw;
    margin: 0 !important;
    > .btns {
      background-color: transparent !important;
      /* width: 30vw !important; */
      /* height: 10vw; */
      /* padding: 0.1vw 2vw; */
      padding: 1vw;

      border-radius: 1vw;
      text-wrap: nowrap;
      transition: all 0.3s cubic-bezier(1, 0, 0, 1);
      display: flex;
      align-self: center;
      justify-self: center;
      justify-content: center;
      align-items: center;
      font-size: 1vw;
      color: #05061b !important;
      width: 38vw !important;
      > .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* gap: 0.3vw; */
        align-items: center;
        /* width: 20vw; */
        padding: 1vw;
        height: 2.4vw;
        border-radius: 1vw;
        font-size: 1vw;
      }
      > .btn1 {
        width: 16vw;
        /* align-self: start; */
        background-color: #05061b !important;
        color: #ffff !important;
      }
      > .btn2 {
        width: 16vw;
        background-color: #ffdcc3 !important;
        color: #05061b !important;
      }
    }
    > p {
      font-size: 1vw;
      margin: 0;
      color: rgb(5, 6, 27, 0.8);
    }
  }
  /* > .content {
        width: 60vw;
        height: 10vw;
        > p {
          font-size: 1vw;
          width: 100%;
        }
      } */
}
