:root {
  --primary-color: #0f2547;
  --secondary-color: #d97706;
  --Tertiary-color: #10b981;
  --neutral-color: #f8fafc;
}
span {
  /* display: inline-block; */
  text-wrap: wrap;
  font-size: 0.9vw;
  color: #a5b2d1;
}
li,
.btn {
  cursor: pointer;
}
.contain1 {
  background-color: #0f2547;
  color: white;
  display: grid;
  grid-template-columns: 57vw 30vw;
  /* flex-direction:column; */
  justify-content: center;
  align-items: center;
  /* width: 80vw; */
  /* width: 100vw; */
  height: 17vw;
  gap: 4vw;
  padding: 1vw;
  margin-top: 1vw;
  /* padding-right: 1vw; */
  /* padding: 1vw; */
  > .rightContain {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    /* width: 50vw !important; */
    /* height: 40vw; */
    > ul {
      margin: 0;
      padding: 0;
      padding-right: 3vw;
      /* width: 60vw !important; */
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      list-style: none;
      /* padding: 0.3vw 1.3vw; */

      /* width: 67vw; */
      gap: 1vw;
      > li:nth-child(1) {
        background-color: #334665;
        border-radius: 1vw;
        font-size: 1vw;
        color: #d1b8ab;

        /* padding: 0.3vw 1.3vw; */
        padding: 0.3vw 1.3vw;
      }
      > li:nth-child(1):before {
        background: url('./assets/Screens/fire.png') no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: start;
        background: #e6e8ea;
        right: 10%;
        width: 1vw;
        height: 1vw;
        padding: 0.3vw 1.3vw;

        background-size: cover;
        background-position: center;
        right: 10%;
      }
      > li:nth-child(2) {
        font-size: 2.3vw;
        font-weight: 500;
        color: white;
        /* padding: 0.3vw 1.3vw; */
      }
      > li:nth-child(3) {
        /* padding: 0.3vw 1.3vw; */
        width: 50vw;
        /* display: flex; */
        /* justify-content: space-around; */
        /* align-items: center; */
        > h6 {
          font-size: 1.4vw;
          color: #c08c6d;
          /* padding: 0vw 1.3vw; */
          /* font-weight: 900; */
          margin: 0;
          /* display: inline-block; */
          /* display: block; */
        }
      }
    }
  }
  > .btns {
    justify-self: end;
    align-self: end;
    display: flex;
    width: 29vw;
    font-size: 1.3vw;
    height: 7vw;
    padding-right: 1vw;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    > .btn {
      background-color: #fe932c !important;
      width: 9vw;
      /* height: 1vw; */
      /* padding: 0.1vw 2vw; */
      padding: 1vw;
      border-radius: 1vw;
      text-wrap: nowrap;
      transition: all 0.3s cubic-bezier(1, 0, 0, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      /* padding: 2vw; */
      /* font-size: 1.3vw; */
      color: #05061b !important;
    }
    > .btn1:before:before {
      /* background: url('./roll-of-honor/assets/fire.png') no-repeat; */
      background-size: cover;
      background-position: center;
      right: 10%;
    }
    > .btn1 {
      font-size: 1vw;

      padding: 1vw;
      color: var(--primary-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* padding: 1.3vw; */

      /* width: 13vw; */
    }
    .btn1::before {
      /* background: url('./assets/screens/screen_3.png') no-repeat; */
      /* position: absolute; */
      /* z-index: 1000; */
      /* right: -1vw; */
      background-size: cover;
      content: '';
      background-position: center;
      width: 2vw;
      height: 2vw;
    }
    .btn2 {
      padding: 0.3vw 2vw 0.4vw 1vw;
      position: relative;
      font-size: 1vw;
      background-color: #0b1a32 !important;
      color: #a6b9e0 !important;
      > p {
        color: white;
        padding-inline: 1vw;
      }
      background-image: url('./assets/Screens//screen_4.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
.ulDate > li:hover {
  background-color: #f7f9fb !important;
}
.btn:hover {
  transform: translatey(-0.1vw);
}
.contain2 {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 40vw 24vw 21vw;

  /* flex-direction:column; */
  justify-content: center;
  padding-top: 0;
  align-items: center;
  height: 6vw;
  gap: 4vw;

  /* width: 100vw; */
  /* padding: 4vw 10vw; */
  > .ulStages {
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 4vw;
    height: 3vw;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 20vw;
    padding: 0;
    gap: 2vw;
    /* padding: 3vw; */
    > li {
      width: 8vw;
      /* height: 3vw; */
      border-radius: 1vw;
      background-color: #eceef0;
      padding: 0.7vw;
      font-size: 0.9vw;
      display: flex;
      text-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  > .ulDate {
    /* align-self: end; */
    display: grid;
    margin: 0;

    grid-template-columns: 6vw 6vw 6vw;
    /* grid-template-rows: 3vw; */
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0.4vw 0.8vw;

    border-radius: 3vw;
    gap: 0.1vw;
    margin: 0 !important;
    background-color: #eceef0;
    > li {
      padding: 0.6vw 0.8vw;
      background-color: #eceef0;
      /* width: 1vw; */
      /* padding: 0.7vw 0.3vw; */
      display: flex;
      justify-content: center;
      align-items: center;
      text-wrap: nowrap;
      font-size: 0.9vw;
      /* padding: 1vw; */
      color: var(--secondary-color);
    }

    > input:before {
      background: url('./assets/Screens/screen_1.png');
      font-size: 1vw;

      background-size: cover;
      background-position: center;
      right: 10%;
    }
  }
}

input {
  background-color: #f7f9fb;
  font-size: 1vw;
  padding: 1vw;
  border-radius: 2vw !important;
  outline: none;
  border: none;
  color: var(--secondary-color);
}

.containCards {
  background-color: #f7f9fb;
  display: grid;
  /* flex-direction:column; */
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding-top: 1vw;
  gap: 1vw;
  grid-template-columns: 30vw 30vw 33vw;
  /* padding: 4vw 10vw; */
  > .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 1vw;
    list-style: none;
    box-shadow: 0 0.2vw 0.2vw #e6e8ea;
    background-color: #ffffff;

    /* padding: 3vw; */
    position: relative;
    align-self: flex-end;
    gap: 0.1vw;
    padding: 2.8vw 3vw;
    /* width: 20vw; */
    > .number,
    > .number2,
    > .number3,
    .personimage {
      width: 1vw;
      height: 1vw;
      background: url('./assets/Screens/grade1.png');
      background-size: cover;
      background-position: center;
      position: absolute;
      top: -6%;
      /* right: 31%; */
      padding: 1.4vw;
      font-size: 1vw;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      align-items: center;
      background-color: #e7e9eb;
    }
    > .number2 {
      background: url('./assets/Screens/grade_2.png') no-repeat;
      width: 2vw;
      height: 2vw;
      background-size: cover;
      background-position: center;
    }
    > .number {
      background: url('./assets/Screens/grade3.png') no-repeat;
      width: 3vw;
      height: 3vw;
      background-size: cover;
      background-position: center;
    }
    > .first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      /* position: absolute; */
      > p {
        color: var(--secondary-color);
        font-size: 01vw;
        width: 4vw;
        text-wrap: nowrap;
        color: #8e4900;
      }
      > p:nth-child(2) {
        background-color: #f4ede5;
        border-radius: 2vw;
        padding: 0.4vw;
      }
    }
    > .cardContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 0.7vw;
      > .personimage {
        width: 10vw;
        height: 10vw;
        border: 0.3vw solid #fe901f;
        position: static;
        background-size: cover;
        background-position: center;
        top: 0;
      }
      > .person1img {
        border-color: #d8dadc;
        background: url('./assets/Screens/screen_28.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
      > .person2img {
        border-color: #fe901f;
        background: url('./assets/Screens/screen_27.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
      > .person3img {
        border-color: #d8dadc;
        background: url('./assets/Screens/download\ \(3\).jpe');
        background-size: cover;
        background-position: 40% 0%;
      }
      > h4 {
        /* width: 10vw; */
        text-wrap: nowrap;
        font-size: 2vw;
        margin: 0;
      }
      > p {
        text-wrap: nowrap;
        font-size: 1.3vw;
        margin: 0;

        /* width: 4vw; */
      }
      > .person2img > p {
        color: #ad735d;
        padding: 1vw 2vw !important;
        font: 1vw;
      }
      > h5 {
        /* width: 5vw; */
        padding: 0.4vw 1vw;
        border-radius: 1vw;
        font-size: 1.3vw;
        font-weight: bold;
      }
      > .grade2 {
        background-color: #ffede1;
        color: var(--secondary-color);
        font-weight: 400;
        font-size: 1.3vw;
        margin: 0;
        margin-bottom: 2vw;
      }
      > .grade1 {
        background-color: #904d00;
        color: #ffffff;
        font-weight: 400;
        font-size: 1.3vw;

        margin: 0;
        margin-bottom: 2vw;
      }
      > .grade3 {
        background-color: #d8dadc;
        color: #56595f;
        font-weight: 400;
        font-size: 1.3vw;

        margin: 0;
        margin-bottom: 2vw;
      }
      > .Analytics {
        display: grid;
        grid-template-columns: repeat(3, 8vw);
        justify-content: space-between;
        align-items: center;
        /* width: 20vw; */
        /* height: 4vw; */
        /* padding: 1vw; */
        height: 4vw;
        padding: 1vw 1vw 1vw 1vw;
        border-radius: 2vw;
        > * {
          height: 2vw;
        }
        > .point,
        > .point1,
        > .point2 {
          /* width: 8vw; */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          /* height: vw; */
          > p,
          h1 {
            color: #545764;
            margin: 0;
            font-size: 1.3vw;
          }
          > h1 {
            color: black;

            font-size: 1.8vw;
          }
          > p {
            font-size: 1.3vw;
          }
        }
        > h1 {
          color: var(--Tertiary-color);
        }
      }
      > .person1Analytics,
      .person3Analytics {
        background-color: #f2f4f6;
        > .point > h1,
        .point2 > h1 {
          color: black;
        }
        .point2 > h1 {
          color: #37ad83;
        }
      }
      > .person2Analytics {
        background-color: #fefdfd;
        > .point > h1 {
          color: #8e4900;
        }
      }
      .point,
      .point1 {
        border-left: 0.3vw solid #d8dadc;
      }
    }
  }
  > .card2,
  .card3 {
    box-shadow:
      0 3vw 10vw #d8dadc,
      0 2vw 8vw #d8dadc,
      0 7vw 17vw #d8dadc,
      0 2vw 8vw #d8dadc;
    box-shadow:
      0 3vw 10vw #f9f3f0 inset,
      0 2vw 8vw #f9f3f0 inset,
      0 7vw 17vw #f9f3f0 inset,
      0 2vw 8vw #f9f3f0 inset,
      0 2vw 8vw #d8dadc;

    /* height: 37vw; */
    align-self: start;
  }
}
.card:hover {
  transform: translateY(-1vw);
}
.card2 {
}
.containTab {
  background-color: var(--neutral-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding: 20vw;
  > .List {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    /* height: 40vw; */
    > .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      /* background: #fff1e7; */
      width: 14vw;
    }
    > .left {
      display: flex;
      /* flex-direction: column; */
      justify-content: space-between;
      align-items: center;
      > p {
        color: #8e4902;
      }
    }
    table {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80vw;
      display: flex;
      justify-content: start;
      align-items: center;

      > thead {
        /* width: 80vw; */
        display: flex;
        /* width: 1080px; */
        /* background-color: #eee; */
        justify-content: center;
        align-items: center;
        /* height: fit-content; */
        /* height:100px; */
        color: black;
        > tr {
          background-color: var(--neutral-color);
          cursor: pointer;
          display: grid;
          /* box-shadow: 1px 1px 1px #59626e; */
          /* width:100vw; */
          padding: 1.3vw 2vw;
          border-radius: 1vw;

          /* height: 37px; */
          /* grid-template-columns: 10vw 19vw 12vw 7vw 10vw 2vw 14vw 4vw; */
          /* grid-template-columns: 9vw 20vw 12vw 6vw 6vw 2vw 20vw 3vw; */
          /* gap: 1vw; */
          /* grid-template-columns: 150px 100px 190px 10px 110px repeat(2,190px); */
          /* grid-template-columns: 90px 150px 230px 100px 100px repeat(2,190px); */
          grid-template-columns: 10vw 14vw 10vw 8vw 16vw 4vw;
          /* grid-template-columns:2vw 2vw 12vw 3vw 4vw 8vw 3vw; */
          justify-content: start;
          /* gap:100px;   */
          /* justify-content:center;   */
          width: 80vw;
          align-items: center;
          /* background: linear-gradient(90deg, rgba(220, 60, 12, 1) 0%, rgba(29, 24, 22, 1) 18%, rgba(105, 31, 12, 1) 71%, rgba(122, 122, 120, 1) 100%); */

          > th {
            text-wrap: nowrap;
            /* text-align:start; */
            cursor: pointer;
            font-size: 1.4vw !important;
            font-weight: 400;
          }
        }
      }

      > tbody {
        width: 80vw;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 1vw;
        /* width: 1080px; */
        /* background-color:#e1f1ff; */
        /* background-color: rgba(0,0,0,.01); */
        > tr {
          /* width: 70vw; */
          width: 80vw;
          padding: 1.4vw 2vw;

          /* width: 1080px; */
          /* border-radius:vw; */
          background-color: #ffffff;
          display: grid;
          grid-template-columns: 10vw 14vw 10vw 8vw 16vw 4vw;

          justify-content: start;
          transition:
            all 1s cubic-bezier(0.4, 0.4, 1, 1),
            border-radius 1s cubic-bezier(0.4, 0.4, 1, 1);
          > td {
            font-size: 1vw;
            color: #61646a;
          }
          > .success-rate {
            color: var(--secondary-color);
          }
          > .daily-series {
            background-color: #fff1e7;
            color: #221f1d;
          }
          > .points1 {
            color: #8e4900;
          }
        }
      }
    }
  }
  .Name {
    font-weight: 500;
    font-size: 1.3vw;
    color: #05061b;
  }

  tr:hover {
    transform: translateY(-0.1vw);
    opacity: 1;
    background-color: #f5f6f7;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 10vw;
  height: 10vw;

  background-color: var(--neutral-color);
  > .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 8vw;
    align-items: space-between;
    > p {
      color: var(--secondary-color);
    }
  }

  > .ChrchUl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 3vw;
    > li {
      width: 6vw;
      padding: 2vw;
      font-size: 1.1vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  > .copyRight {
    width: 10vw;
    color: #61646a;
  }
}
li:hover {
  background-color: var(--primary-color);
  color: var(--neutral-color);
}
