
.containCards {
  background-color: #f7f9fb;
  display: grid;
  /* flex-direction:column; */
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding-top: 1vw;
  gap: 1vw;
  grid-template-columns: 30vw 30vw 33vw;
  /* padding: 4vw 10vw; */
  > .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 1vw;
    list-style: none;
    box-shadow: 0 0.2vw 0.2vw #e6e8ea;
    background-color: #ffffff;

    /* padding: 3vw; */
    position: relative;
    align-self: flex-end;
    gap: 0.1vw;
    padding: 2.8vw 3vw;
    /* width: 20vw; */
    > .number,
    > .number2,
    > .number3,
    .personimage {
      width: 1vw;
      height: 1vw;
      background: url('./assets/Screens/grade1.png');
      background-size: cover;
      background-position: center;
      position: absolute;
      top: -6%;
      /* right: 31%; */
      padding: 1.4vw;
      font-size: 1vw;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      align-items: center;
      background-color: #e7e9eb;
    }
    > .number2 {
      background: url('./assets/Screens/grade_2.png') no-repeat;
      width: 2vw;
      height: 2vw;
      background-size: cover;
      background-position: center;
    }
    > .number {
      background: url('./assets/Screens/grade3.png') no-repeat;
      width: 3vw;
      height: 3vw;
      background-size: cover;
      background-position: center;
    }
    > .first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      /* position: absolute; */
      > p {
        color: var(--secondary-color);
        font-size: 01vw;
        width: 4vw;
        text-wrap: nowrap;
        color: #8e4900;
      }
      > p:nth-child(2) {
        background-color: #f4ede5;
        border-radius: 2vw;
        padding: 0.4vw;
      }
    }
    > .cardContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 0.7vw;
      > .personimage {
        width: 10vw;
        height: 10vw;
        border: 0.3vw solid #fe901f;
        position: static;
        background-size: cover;
        background-position: center;
        top: 0;
      }
      > .person1img {
        border-color: #d8dadc;
        background: url('./assets/Screens/screen_28.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
      > .person2img {
        border-color: #fe901f;
        background: url('./assets/Screens/screen_27.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
      > .person3img {
        border-color: #d8dadc;
        background: url('./assets/Screens/download\ \(3\).jpe');
        background-size: cover;
        background-position: 40% 0%;
      }
      > h4 {
        /* width: 10vw; */
        text-wrap: nowrap;
        font-size: 2vw;
        margin: 0;
      }
      > p {
        text-wrap: nowrap;
        font-size: 1.3vw;
        margin: 0;

        /* width: 4vw; */
      }
      > .person2img > p {
        color: #ad735d;
        padding: 1vw 2vw !important;
        font: 1vw;
      }
      > h5 {
        /* width: 5vw; */
        padding: 0.4vw 1vw;
        border-radius: 1vw;
        font-size: 1.3vw;
        font-weight: bold;
      }
      > .grade2 {
        background-color: #ffede1;
        color: var(--secondary-color);
        font-weight: 400;
        font-size: 1.3vw;
        margin: 0;
        margin-bottom: 2vw;
      }
      > .grade1 {
        background-color: #904d00;
        color: #ffffff;
        font-weight: 400;
        font-size: 1.3vw;

        margin: 0;
        margin-bottom: 2vw;
      }
      > .grade3 {
        background-color: #d8dadc;
        color: #56595f;
        font-weight: 400;
        font-size: 1.3vw;

        margin: 0;
        margin-bottom: 2vw;
      }
      > .Analytics {
        display: grid;
        grid-template-columns: repeat(3, 8vw);
        justify-content: space-between;
        align-items: center;
        /* width: 20vw; */
        /* height: 4vw; */
        /* padding: 1vw; */
        height: 4vw;
        padding: 1vw 1vw 1vw 1vw;
        border-radius: 2vw;
        > * {
          height: 2vw;
        }
        > .point,
        > .point1,
        > .point2 {
          /* width: 8vw; */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          /* height: vw; */
          > p,
          h1 {
            color: #545764;
            margin: 0;
            font-size: 1.3vw;
          }
          > h1 {
            color: black;

            font-size: 1.8vw;
          }
          > p {
            font-size: 1.3vw;
          }
        }
        > h1 {
          color: var(--Tertiary-color);
        }
      }
      > .person1Analytics,
      .person3Analytics {
        background-color: #f2f4f6;
        > .point > h1,
        .point2 > h1 {
          color: black;
        }
        .point2 > h1 {
          color: #37ad83;
        }
      }
      > .person2Analytics {
        background-color: #fefdfd;
        > .point > h1 {
          color: #8e4900;
        }
      }
      .point,
      .point1 {
        border-left: 0.3vw solid #d8dadc;
      }
    }
  }
  > .card2,
  .card3 {
    box-shadow:
      0 3vw 10vw #d8dadc,
      0 2vw 8vw #d8dadc,
      0 7vw 17vw #d8dadc,
      0 2vw 8vw #d8dadc;
    box-shadow:
      0 3vw 10vw #f9f3f0 inset,
      0 2vw 8vw #f9f3f0 inset,
      0 7vw 17vw #f9f3f0 inset,
      0 2vw 8vw #f9f3f0 inset,
      0 2vw 8vw #d8dadc;

    /* height: 37vw; */
    align-self: start;
  }
}
.card:hover {
  transform: translateY(-1vw);
}
.card2 {
}
.containTab {
    margin-top: 2vw;
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  /* padding: 20vw; */
gap: 2vw;
  > .List {
    display: flex;
    color:black;
  width: 90vw;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 43vw;
    /* width: 80vw; */
    /* height: 40vw; */
    > .content {
      width: 18vw;
      display: flex;
      justify-content: start;
      flex-direction: column;
      /* width: 49vw; */
      /* height: 10vw; */
      /* height: 1vw; */
      gap: .2vw;
      align-items: start;
     >*{
      width: 10vw;
text-wrap: nowrap;
margin: 0;
      /* height: .3vw; */
     }
      > p {
        font-size: 1.3vw;
        width: 13vw;
        color: #111213;
      }
      >h3{
        font-size: 1.9vw;
      }
    
    }
    > .left {
      display: flex;
      /* flex-direction: column; */
      justify-content: space-between;
      align-items: center;
         font-size: 1.3vw;
        width: 13vw;
        text-wrap: nowrap;
        color: #202021;
        font-weight: 700;
      > p {
        font-weight: 900;
         font-size: 1.7vw;
        color: #8e4902;
      }
    }
  }
    >table {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80vw;
      display: flex;
      justify-content: start;
      align-items: center;

      > thead {
        /* width: 80vw; */
        display: flex;
        /* width: 1080px; */
        background-color: #eee;
        justify-content: center;
        align-items: center;
        /* height: fit-content; */
        /* height:100px; */
        color: #292f3b;
        padding:1vw;
          border-radius: 2vw;

         tr {
          background-color:#f2f4f6;
          cursor: pointer;
          display: grid;
          /* box-shadow: 1px 1px 1px #59626e; */
          /* width:100vw; */
          padding: .4vw 2vw;
          border-radius: 1vw;

          /* height: 37px; */
          /* grid-template-columns: 10vw 19vw 12vw 7vw 10vw 2vw 14vw 4vw; */
          /* grid-template-columns: 9vw 20vw 12vw 6vw 6vw 2vw 20vw 3vw; */
          /* gap: 1vw; */
          /* grid-template-columns: 150px 100px 190px 10px 110px repeat(2,190px); */
          /* grid-template-columns: 90px 150px 230px 100px 100px repeat(2,190px); */
          grid-template-columns: 4vw 20vw 14vw 18vw 16vw 10vw 4vw;
          /* grid-template-columns:2vw 2vw 12vw 3vw 4vw 8vw 3vw; */
          justify-content: start;
          /* gap:100px;   */
          /* justify-content:center;   */
          /* width: 80vw; */
          align-items: center;
          justify-items: start;
          border-radius: 4vw;
          /* background: linear-gradient(90deg, rgba(220, 60, 12, 1) 0%, rgba(29, 24, 22, 1) 18%, rgba(105, 31, 12, 1) 71%, rgba(122, 122, 120, 1) 100%); */

          > th {
            text-wrap: nowrap;
            /* text-align:start; */
            cursor: pointer;
            font-size: 1.4vw !important;
            font-weight: 400;
          }
        }
      }

      > tbody {
        /* width: 80vw; */
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        /* gap: 1vw; */
        /* width: 1080px; */
        /* background-color:#e1f1ff; */
        /* background-color: rgba(0,0,0,.01); */
        > tr {
          /* width: 70vw; */
          /* width: 80vw; */
          
          /* width: 1080px; */
          /* border-radius:vw; */
          background-color: #ffffff;
          display: grid;
          padding: 1vw;
          /* grid-template-columns: 10vw 14vw 10vw 8vw 16vw 4vw; */
          grid-template-columns: 4vw 20vw 20vw 8vw 16vw 10vw 4vw;
          grid-template-columns: 4vw 16vw 17vw 18vw 16vw 10vw 4vw;

          justify-items: start;
          justify-content: start;
             /* padding: .4vw 2vw; */
          transition:
            all 1s cubic-bezier(0.4, 0.4, 1, 1),
            border-radius 1s cubic-bezier(0.4, 0.4, 1, 1);
          > td {
            font-size: 1.3vw;
            font-weight: 700;
            padding: 1vw 2vw;
            text-wrap: nowrap;
            color: #61646a;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          >.index1,>.index2,>.index3{
width: .3vw;
height: 1.3vw;
background-color: #ffe9d5;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
          }
               >.index2{
background-color: #d7e2ff;
          }
          >.index3{
            background-color: #e0e3e5;
          }
          > .success-rate {
            color: #149b5d;
          }
          > .daily-series {
            background-color: #fff1e7;
            color: #221f1d;
            width: 3vw;
            height: .3vw;
            border-radius: 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          > .points1 {
            color: #8e4900;
          }
        }
      }
  }
  .Name {
    font-weight: 500;
    font-size: 1.3vw;
    color: #05061b;
  }

  tr:hover {
    transform: translateY(-0.1vw);
    opacity: 1;
    background-color: #f5f6f7;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 10vw;
  height: 10vw;

  background-color: var(--neutral-color);
  > .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 8vw;
    align-items: space-between;
    > p {
      color: var(--secondary-color);
    }
  }

  > .ChrchUl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 3vw;
    > li {
      width: 6vw;
      padding: 2vw;
      font-size: 1.1vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  > .copyRight {
    width: 10vw;
    color: #61646a;
  }
}
li:hover {
  background-color: var(--primary-color);
  color: var(--neutral-color);
}
