
.containTab {
    margin-top: 2vw;
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 90vw; */
  /* padding: 20vw; */
gap: 1vw;

  > .List {
    display: grid;
    color:black;
  width: 90vw;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 30vw;
    grid-template-columns: 50vw 30vw;
    /* width: 80vw; */
    /* height: 40vw; */
    > .content {
      width: 40vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: start;
      /* width: 49vw; */
      /* height: 10vw; */
      /* height: 1vw; */
      gap: .4vw;
      align-items: center;
     >*{
      width: 10vw;
text-wrap: nowrap;
margin: 0;
display: flex;
justify-content: start;
align-items: start;
      /* height: .3vw; */
     }
      > p {
        font-size: 1vw;
        /* width: 13vw; */
        color: #111213;
font-weight: 100;
      }
      >h3{
        font-size: 1.8vw;
      }
    
    }
    > .left {
      direction: rtl;
      display: flex;
      /* flex-direction: column; */
      justify-content: start;
      align-items: center;
         font-size: 1.1vw;
        /* width: 13vw; */
        text-wrap: nowrap;
        color: #202021;
        font-weight: 700;
        /* width: 30vw; */
      > p{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 11vw;
      }
        >p:nth-child(2){
          font-weight: 900;
          font-size: 1.5vw;
          color: #8e4902;
      }
    }
  }
    >table {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80vw;
      display: flex;
      justify-content: start;
      align-items: center;
background-color: #ffffff;
      > thead {
        /* width: 80vw; */
        display: flex;
        /* width: 1080px; */
        background-color: #eee;
        justify-content: center;
        align-items: center;
        /* height: fit-content; */
        /* height:100px; */
        color: #292f3b;
        padding:1vw;
          border-radius: 2vw;

         tr {
          background-color:#f2f4f6;
          cursor: pointer;
          display: grid;
          /* box-shadow: 1px 1px 1px #59626e; */
          /* width:100vw; */
          padding: .4vw 2vw;
          border-radius: 1vw;

          /* height: 37px; */
          /* grid-template-columns: 10vw 19vw 12vw 7vw 10vw 2vw 14vw 4vw; */
          /* grid-template-columns: 9vw 20vw 12vw 6vw 6vw 2vw 20vw 3vw; */
          /* gap: 1vw; */
          /* grid-template-columns: 150px 100px 190px 10px 110px repeat(2,190px); */
          /* grid-template-columns: 90px 150px 230px 100px 100px repeat(2,190px); */
          grid-template-columns: 4vw 20vw 14vw 10vw 10vw 10vw 4vw;
          /* grid-template-columns:2vw 2vw 12vw 3vw 4vw 8vw 3vw; */
          justify-content: start;
          /* gap:100px;   */
          /* justify-content:center;   */
          /* width: 80vw; */
          align-items: center;
          justify-items: start;
          border-radius: 4vw;
          /* background: linear-gradient(90deg, rgba(220, 60, 12, 1) 0%, rgba(29, 24, 22, 1) 18%, rgba(105, 31, 12, 1) 71%, rgba(122, 122, 120, 1) 100%); */

          > th {
            text-wrap: nowrap;
            /* text-align:start; */
            cursor: pointer;
            font-size: 1.3vw !important;
            font-weight: 400;
            font-weight: 900;
          }
        }
      }

      > tbody {
        /* width: 80vw; */
        display: flex;
background-color: #ffffff;

        justify-content: start;
        align-items: center;
        flex-direction: column;
        /* gap: 1vw; */
        /* width: 1080px; */
        /* background-color:#e1f1ff; */
        /* background-color: rgba(0,0,0,.01); */
        > tr {
          /* width: 70vw; */
          /* width: 80vw; */
          
          /* width: 1080px; */
          /* border-radius:vw; */
          background-color: #ffffff;
          display: grid;
          padding: 1vw;
          /* grid-template-columns: 10vw 14vw 10vw 8vw 16vw 4vw; */
          grid-template-columns: 4vw 20vw 20vw 8vw 16vw 10vw 4vw;
          grid-template-columns: 4vw 16vw 17vw 18vw 16vw 10vw 4vw;
          grid-template-columns: 4vw 20vw 14vw 10vw 10vw 10vw 4vw;
          
          justify-items: start;
          justify-content: start;
          /* padding: .4vw 2vw; */
          transition:
            all 0.25s cubic-bezier(0.16, 1, 0.3, 1),
              all 0.2s ease;;
          > td {
            font-size: 1.2vw;
            font-weight: 500;
            padding: 1vw 2vw;
            text-wrap: nowrap;
            color: #61646a;
            display: flex;
            justify-content: center;
          font-weight: 900;
            align-items: center;
          }
          >.index{
padding: 0;
width: 3vw;
height: 3vw;

          }
          >.index1,>.index2,>.index3{
width: 3vw;
padding: 0;
height: 3vw;
background-color: #ffe9d5;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
          }
               >.index2{
background-color: #d7e2ff;
          }
          >.index3{
            background-color: #e0e3e5;
          }
          > .success-rate {
            color: #149b5d;
          }
          > .daily-series {
            background-color: #fff1e7;
            color: #221f1d;
            width: 3vw;
            height: .3vw;
            border-radius: 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          > .points1 {
            color: #8e4900;
          }
        }
      }
  }
  .Name {
    font-weight: 500;
    font-size: 1.3vw;
    color: #05061b;
  }

  tr:hover {
    transform: translateY(-0.1vw);
    opacity: 1;
    background-color: #f5f6f7;
  }
}
.points{
  font-size: 1.4vw !important;
}
.footer {
  display: grid;
  grid-template-columns: 20vw 10vw 30vw;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  /* padding: 10vw; */
  margin-top: 3vw;
  /* height: 7vw; */
margin-bottom: 1vw;
  background-color: #fafcff;
   > .content {
      width: 13vw;
      display: flex;
      justify-content: start;
      flex-direction: column;
      /* width: 49vw; */
      /* height: 10vw; */
      /* height: 1vw; */
      gap: .3vw;
      align-items: start;
     >*{
      width: 3vw;
text-wrap: nowrap;
margin: 0;
      /* height: .3vw; */
     }
      > p {
        font-size: 1vw;
        /* width: 13vw; */
        color: #111213;
      }
      >h3{
        font-size: 1.5vw;
        font-weight: bold;
      }
    
    }


  > .ChrchUl {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    justify-self: start;
    width: 14vw !important;
    padding: 0;
    /* padding: 1vw; */
    > li {
      width: 4vw;
      /* padding: 1vw; */
      text-wrap: nowrap;
      font-size: 1.1vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  > .copyRight {
    align-self: center;
    text-wrap: nowrap;
    justify-self: start;
    font-size: 1vw;
    width: 10vw;
    color: #61646a;
  }
}
